@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h2 {
	font-weight: 600;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

label {
	font-size: 13px;
}

.homeContainer {
	display: flex;
}

.memberContainer {
	background-color: #ffffff;
	border-radius: 6px;
	margin-top: 15px;
	width: 700px;
	font-family: 'Poppins', sans-serif;
}

.main {
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	background-color: #ebebeb;
	padding: 15px;
}

input {
	width: 180px;
	height: 32px;
	background: transparent;
	outline: none;
	border: 2px solid #0000001e;
	border-radius: 15px;
	font-size: 14px;
	color: #333;
	padding: 8px;
}

.mn-label {
	display: block;
	margin: 5px;
	font-size: 13px;
}

.mem-no {
	display: flex;
	margin-top: 15px;
	height: 80px;
	margin-left: 5px;
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
}

.btn {
	width: 80px;
	height: 30px;
	background: #19A7CE;
	border: none;
	outline: none;
	border-radius: 30px;
	font-family: Arial, Helvetica, sans-serif;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	cursor: pointer;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin: 20px 10px;
}

.goBtn {
	width: 50px;
	margin-top: 27px;
}

.btn:hover {
	background-color: #17a2b8;
	color: #fff;
}

.mem-pd {
	margin-top: 15px;
	margin-left: -80px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.pd-label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin-left: 5px;
	margin-right: 15px;
}

.form-fields {
	display: flex;
	flex-wrap: wrap;
}

.form-group {
	margin-bottom: 1rem;
	margin-right: 20px;
	margin-left: 10px;
}

.form-group label {
	display: block;
	margin-bottom: 3px;
}

.form-group input {
	display: block;
	font-size: 13px;

}

.form-group select {
	display: block;
	font-size: 13px;
}

select {
	width: 180px;
	height: 32px;
	background: transparent;
	outline: none;
	border: 2px solid #0000001e;
	border-radius: 15px;
	font-size: 14px;
	color: #333;
	padding: 5px;
}

input.disField {
	background-color: #0000001e;
}

.errors {
	border-color: #ff355b;
}

.toast-container {
	margin-top: 15px;
}

.toast-body {
	padding: 5px;
	margin-left: 5px;
	font-size: 13px;
}

.toastSuccess {
	margin-top: 15px;
}

.successBody {
	padding: 8px;
}

.required:after {
	content: " *";
	color: #ff0000;
}

hr {
	border: 0;
	border-top: 1px solid #ccc;
	margin-left: 15px;
	margin-right: 15px;
}

.btnExtra {
	width: 90px;
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
}